.profile {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 920px) {
  .profile {
    padding: 0 27px;
  }
}

@media screen and (max-width: 770px) {
  .profile {
    flex-direction: column;
    gap: 32px;
    padding: 0 19px;
  }
}

