.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  background: url('../../../images/add.svg');
  background-color: initial;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  cursor: pointer;
  transition: opacity .6s;
}

.profile__add-button:hover {
  opacity: .6;
}